.pokedex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .pokemon-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #FAF9F9;
        border-radius: 20px;
        margin: 50px 20px;
        width: 300px;
        transition: transform 0.3s ease;
        position: relative;
        img{
            width: 50%;
            margin-top: -100px;
        }
        p, h2, .type{
            margin: 5px 0;
        }
        .pokedex-id{
            font-weight: bold;
            font-size: 20px;
        }
        .type{
            font-size: 18px;
            margin-bottom: 20px;
            span{
                border: 1px solid #333;
                border-radius: 5px;
                padding: 8px;
                font-weight: bold;
            }
        }
        
    }
    .pokemon-card:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
}
#dark-mode-toggle{
    margin-bottom: 150px;
}

.material-symbols-outlined{
    position: absolute;
    right: 10px;
    top: 10px;
}

.favorite{
    .material-symbols-outlined{
        color: #B8860B;
        font-weight: bold;
    }
}
a{
    color: #333;
}

.pokemon-card.dark{
    background-color: rgb(182, 157, 157);
}