@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: "Roboto", sans-serif;
}

.detail__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  button {
    height: fit-content;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: white;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
  }
}

section {
  width: 100%;
  margin: 2%;
  padding: 1%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
  .details-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    width: 80%;
    padding: 4%;
    margin-left: 5%;

  

   

    span {
      border: 1px solid #333;
      border-radius: 5px;
      padding: 8px;
      margin-right: 2%;
      font-weight: bold;
      
      img {
        width: 3%;
      }
    }

    p {
      margin-bottom: 2%;
    }

  }

  .stat-bar-container {
    width: 100%;
    background-color: #e0e0df;
    border-radius: 25px;
    overflow: hidden;
    margin-top: 2%;
  }
  
  .stat-bar {
    height: 20px;
    border-radius: 25px;
    text-align: right;
    padding-right: 5px;
    color: white;
    line-height: 20px;
    width: 0; 
    transition: width 2s ease;
  }
  
  .hp {
    background-color: #ff5959;
  }
  
  .attack {
    background-color: #f5ac78;
  }
  
  .defense {
    background-color: #fae078;
  }
  
  .special-attack {
    background-color: #ab82ff;
  }
  
  .special-defense {
    background-color: #78c850;
  }
  
  .speed {
    background-color: #6890f0;
  }
  
  .pokemon {

    p {
      position: absolute;
      font-size: 15rem;
      top: -2%;
      left: 49%;
      z-index: -1;
      color: #333;
      transform: translate(0, -40%);
      background-color: #333;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
     
    }


    .animation {
        position: absolute;
        left: 0;
        background: linear-gradient(
            45deg,
            rgba(255, 255, 255, 0) 45%,
            rgba(255, 255, 255, 0.8) 50%,
            rgba(255, 255, 255, 0) 55%,
            rgba(255, 255, 255, 0) 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: shine 7s infinite;
        background-size: 200%;
    }
    
    
    
    @keyframes shine {
        0% {
            background-position: -120%;
        }
        10% {
            background-position: 120%;
        }
        100% {
            background-position: 120%;
        }
    }


  
      
  

   
  }
  .container-evolution{

    margin-top: 3%;

    background-color: #2b2b2b;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    width: 80%;
    padding: 4%;
    margin-left: 5%;

    .evolution{
      display: flex;
      justify-content: space-around;

        h2{
            color: white;
        }
        img{
            width: 20%;
        }

    }

   

}
  }