#logo{
    width: 500px;
    height: 150px;
    margin-top: 80px;
}

#pokeball{
    height: 100px;
    width: 100px;
    
}

#pokemon{
    width: 90px;
    height: 60px;
    left: 0px;
    transition: transform 1s ease;
    
}

#pikachu{
    width: 80px;
    height: 80px;

}