/* Plante */
.plante {
    background-color: #9acc50; 
    color: #edf7ff;
}

/* Feu */
.feu {
    background-color: #fc7e23;
    color: #edf7ff; 
}

/* Eau */
.eau {
    background-color: #4591c4; /* Bleu */
    color: #edf7ff; /* Bleu foncé */
}

/* Insecte */
.insecte {
    background-color: #729e3f; /* Vert olive */
    color: #edf7ff; /* Vert olive foncé */
}

/* Spectre */
.spectre {
    background-color: #7b62a3; /* Violet */
    color: #edf7ff; /* Violet foncé */
}

/* Normal */
.normal {
    background-color: #a5adb0; /* Gris */
    color: #edf7ff; /* Gris foncé */
}

/* Électrique */
.Électrik{
    background-color: #edd434; /* Jaune */
    color: #edf7ff; /* Jaune foncé */

}

/* Poison */
.poison {
    background-color: #b97fc9; /* Pourpre */
    color: #edf7ff;
}

/* Vol */
.vol {
    background: linear-gradient(to bottom, #3ec9f0, white);
    color: #edf7ff; /* Bleu foncé */
}

/* Sol */
.sol {
    background: linear-gradient(to bottom, #f7df40, #ab9843);
    color: #edf7ff; /* Jaune moutarde foncé */
}

/* Fée */
.fée {

    background-color: #EE99AC; /* Rose */
    color: #8C4D5B; /* Rose foncé */
}
.clefairy {
    background-color: #EE99AC; /* Rose */
    color: #8C4D5B; /* Rose foncé */
}
.clefable {
    background-color: #EE99AC; /* Rose */
    color: #8C4D5B; /* Rose foncé */
    background-color: #fcb8e8; /* Rose */
    color: #edf7ff; /* Rose foncé */

}

/* Combat */
.combat {
    background-color: #d66722; /* Rouge */
    color: #edf7ff; /* Rouge foncé */
}

/* Psy */
.psy {
    background-color: #f266b8;
    color: #edf7ff; /* Rose foncé */
}

/* Roche */
.roche {
    background-color: #a38b21; /* Brun */
    color: #edf7ff; /* Brun foncé */
}

/* Acier */
.acier {
    background-color: #B8B8D0; /* Gris clair */
    color: #6E6E8B; /* Gris foncé */
}

/* Glace */
.glace {
    background-color: #51c5e8; /* Cyan */
    color: #edf7ff; /* Cyan foncé */
}

/* Dragon */
.dragon {
    background: linear-gradient(to bottom, #53a3cf, #f26e57);
    color: #edf7ff; /* Violet foncé */
}

/* Ténebre */
.ténèbres {
    background-color: #4B0082; /* Indigo */
    color: #ebb5f4; /* Dark Purple */
}