@import 'login.scss';
@import 'register.scss';
@import '_img';
@import '_main';
@import '_card';
@import '_type';

body{
 background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
 height: 100vh;
}
body.dark{
   background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

#dark-mode-toggle {
    border: none;
    background: none;
    cursor: pointer; 
    margin-bottom: 10px;
}

nav {
    height: 60px; 
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    padding: 0 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    a{
        color: black;
        
    }
}
nav.dark{
    a{
        color: white;
        
    }
}

form{
    display: flex;
    flex-direction: row;
    width: 500px;
}
.search-container {
    display: flex;
    text-align: center;
    margin-bottom: 80px ;
    flex-direction: row;
}

#search-bar {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}