@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
#logo {
  width: 45%;
  height: auto;
  margin-top: 80px;
}

#pokeball {
  height: 200px;
  width: 200px;
  animation: pulsate 1.5s infinite;
}

#pokemon {
  width: 90px;
  height: 60px;
  left: 0px;
  transition: transform 1s ease;
  align-self: flex-start;
}

#pikachu {
  width: 80px;
  height: 80px;
}

.pokedex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.pokedex-container .pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FAF9F9;
  border-radius: 20px;
  margin: 50px 20px;
  width: 300px;
  transition: transform 0.3s ease;
  position: relative;
}
.pokedex-container .pokemon-card img {
  width: 50%;
  margin-top: -100px;
}
.pokedex-container .pokemon-card p, .pokedex-container .pokemon-card h2, .pokedex-container .pokemon-card .type {
  margin: 5px 0;
}
.pokedex-container .pokemon-card .pokedex-id {
  font-weight: bold;
  font-size: 20px;
}
.pokedex-container .pokemon-card .type {
  font-size: 18px;
  margin-bottom: 20px;
}
.pokedex-container .pokemon-card .type span {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 8px;
  font-weight: bold;
}
.pokedex-container .pokemon-card:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#dark-mode-toggle {
  margin-bottom: 150px;
}

.material-symbols-outlined {
  position: absolute;
  right: 10px;
  top: 10px;
}

.favorite .material-symbols-outlined {
  color: #B8860B;
  font-weight: bold;
}

a {
  color: #333;
}

.pokemon-card.dark {
  background-color: rgb(182, 157, 157);
}
.pokemon-card.dark a {
  color: #333;
}

/* Plante */
.plante {
  background-color: #9acc50;
  color: #edf7ff;
}

/* Feu */
.feu {
  background-color: #fc7e23;
  color: #edf7ff;
}

/* Eau */
.eau {
  background-color: #4591c4; /* Bleu */
  color: #edf7ff; /* Bleu foncé */
}

/* Insecte */
.insecte {
  background-color: #729e3f; /* Vert olive */
  color: #edf7ff; /* Vert olive foncé */
}

/* Spectre */
.spectre {
  background-color: #7b62a3; /* Violet */
  color: #edf7ff; /* Violet foncé */
}

/* Normal */
.normal {
  background-color: #a5adb0; /* Gris */
  color: #edf7ff; /* Gris foncé */
}

/* Électrique */
.Électrik {
  background-color: #edd434; /* Jaune */
  color: #edf7ff; /* Jaune foncé */
}

/* Poison */
.poison {
  background-color: #b97fc9; /* Pourpre */
  color: #edf7ff;
}

/* Vol */
.vol {
  background: linear-gradient(to bottom, #3ec9f0, white);
  color: #edf7ff; /* Bleu foncé */
}

/* Sol */
.sol {
  background: linear-gradient(to bottom, #f7df40, #ab9843);
  color: #edf7ff; /* Jaune moutarde foncé */
}

/* Fée */
.fée {
  background-color: #EE99AC; /* Rose */
  color: #8C4D5B; /* Rose foncé */
}

.clefairy {
  background-color: #EE99AC; /* Rose */
  color: #8C4D5B; /* Rose foncé */
}

.clefable {
  background-color: #EE99AC; /* Rose */
  color: #8C4D5B; /* Rose foncé */
  background-color: #fcb8e8; /* Rose */
  color: #edf7ff; /* Rose foncé */
}

/* Combat */
.combat {
  background-color: #d66722; /* Rouge */
  color: #edf7ff; /* Rouge foncé */
}

/* Psy */
.psy {
  background-color: #f266b8;
  color: #edf7ff; /* Rose foncé */
}

/* Roche */
.roche {
  background-color: #a38b21; /* Brun */
  color: #edf7ff; /* Brun foncé */
}

/* Acier */
.acier {
  background-color: #B8B8D0; /* Gris clair */
  color: #6E6E8B; /* Gris foncé */
}

/* Glace */
.glace {
  background-color: #51c5e8; /* Cyan */
  color: #edf7ff; /* Cyan foncé */
}

/* Dragon */
.dragon {
  background: linear-gradient(to bottom, #53a3cf, #f26e57);
  color: #edf7ff; /* Violet foncé */
}

/* Ténebre */
.ténèbres {
  background-color: #4B0082; /* Indigo */
  color: #ebb5f4; /* Dark Purple */
}

nav .avatar-img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  padding: 3px;
  background-color: rgba(0, 0, 0, 0.733);
}

.body-backend {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
.body-backend .form-backend {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: aliceblue;
  border-radius: 10px;
  width: 50%;
  padding-bottom: 10px;
}
.body-backend .form-backend div {
  display: flex;
  flex-direction: column;
  width: 95%;
  gap: 1px;
}
.body-backend .form-backend div input, .body-backend .form-backend div textarea, .body-backend .form-backend div select {
  min-height: 35px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(216, 214, 214, 0.753);
}
.body-backend .form-backend div label {
  font-weight: 600;
}
.body-backend .form-backend button {
  min-height: 45px;
  width: 100px;
  background-color: rgba(216, 214, 214, 0.753);
  border: none;
  border-radius: 10px;
  transition: background-color ease-in-out 300ms;
}
.body-backend .form-backend button:hover {
  background-color: rgba(177, 175, 175, 0.753);
  cursor: pointer;
  transition: background-color ease-in-out 300ms;
}
.body-backend .avatar-img {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  padding: 3px;
  background-color: rgba(0, 0, 0, 0.733);
}

.detail__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detail__header button {
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: white;
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
}

* {
  font-family: "Roboto", sans-serif;
}

section {
  width: 100%;
  margin: 2%;
  padding: 1%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
section .details-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  width: 80%;
  padding: 4%;
  margin-left: 5%;
}
section .details-container span {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 8px;
  margin-right: 2%;
  font-weight: bold;
}
section .details-container span img {
  width: 3%;
}
section .details-container p {
  margin-bottom: auto;
}
section .stat-bar-container {
  width: 100%;
  background-color: #e0e0df;
  border-radius: 25px;
  overflow: hidden;
}
section .stat-bar {
  height: 20px;
  border-radius: 25px;
  text-align: right;
  padding-right: 5px;
  color: white;
  line-height: 20px; /* Align the text vertically */
}
section .hp {
  background-color: #ff5959;
}
section .attack {
  background-color: #f5ac78;
}
section .defense {
  background-color: #fae078;
}
section .special-attack {
  background-color: #ab82ff;
}
section .special-defense {
  background-color: #78c850;
}
section .speed {
  background-color: #6890f0;
}
section .pokemon p {
  position: absolute;
  font-size: 15rem;
  top: -15%;
  left: 49%;
  z-index: -1;
  color: #333;
}

#zone__fight {
  width: 70%;
  height: 300px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #f8f8f8;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  padding: 10px;
}

.fight-img {
  width: 30%;
  position: absolute;
}

.first__img {
  top: 125px;
  left: -30%;
  transform: scaleX(-1);
  animation: fromLeft 1.5s ease-in-out forwards;
}

.second__img {
  right: 0;
  transform: translateX(100%);
  animation: fromRight 1.5s ease-in-out forwards;
}

.plateforme {
  position: absolute;
  background-color: #e2dbe3;
  width: 30%;
  height: 50px;
  border-radius: 999px;
  border: 5px solid gray;
}

.plateforme--left {
  top: 220px;
}

.plateforme--right {
  right: 5%;
  top: 100px;
}

#compare__container {
  display: flex;
}

@keyframes fromLeft {
  from {
    left: -30%;
  }
  to {
    left: 0;
  }
}
@keyframes fromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
.pagination {
  display: flex;
  gap: 10px;
}

.pagination a {
  padding: 10px;
  text-decoration: none;
  color: #000;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.pagination a:hover {
  background-color: #ddd;
}

.pagination a.active {
  background-color: #007bff;
  color: #fff;
}

* {
  text-decoration: none;
}

body {
  background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body.dark {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

#dark-mode-toggle {
  border: none;
  background: none;
  cursor: pointer;
  margin-bottom: 10px;
}

nav {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
nav a {
  color: black;
  padding: 0 10px;
}

nav.dark a {
  color: white;
}

form {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  form {
    width: 60%;
  }
}

.search-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 90%;
  margin-bottom: 80px;
}
@media only screen and (min-width: 768px) {
  .search-container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.search-container select {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 5px;
  width: 30%;
  margin: 20px 0;
  margin-right: 200px;
}
@media only screen and (min-width: 768px) {
  .search-container select {
    width: 20%;
  }
}

#search-bar {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  max-height: 40px;
}

#search {
  border: none;
  background: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.error {
  color: rgb(235, 58, 58);
}/*# sourceMappingURL=style.css.map */